body{
    background-color: rgb(182, 179, 179);}



.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    }
    
    @media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
    }

    .gradient-custom-2 {
  background: black;
}


h5{
    text-align: center;
}

.buttons{
    text-align: center;
    
}

.btn{
    background-color: rgb(0, 0, 167);
    color: white;
}

#face{
    width: 70px;
}
#sad{
    text-align: center;
    margin-bottom: 40px;
}